<nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
  <%= link_to 'User Interviews', root_path, class: 'navbar-brand' %>

  <button
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
    class="navbar-toggler justify-content-end"
    data-target="#navbarLinks"
    data-toggle="collapse"
    type="button"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end" id="navbarLinks">
    <ul class="navbar-nav">
      <% if signed_in? %>
        <li class="navbar-item">
          <%= link_to 'New project', new_project_path, class: 'nav-link' %>
        </li>
        <li class="navbar-item">
          <%= link_to 'My account', user_path(current_user), class: 'nav-link' %>
        </li>
        <li class="navbar-item">
          <%= link_to 'Sign out', sign_out_path, class: 'nav-link', method: :delete %>
        </li>
      <% else %>
        <li class="navbar-item">
          <%= link_to 'Sign up', sign_up_path, class: 'nav-link' %>
        </li>
        <li class="navbar-item">
          <%= link_to 'Sign in', sign_in_path, class: 'nav-link' %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>
